body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 7%;
    background-color: #d5af44;
}

h1{
    text-align: center;
    color: #6b3e22;
}

pre{
    font-size: large;
    text-align: center;
    justify-content: center;
}

.password-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.copy-icon {
    cursor: pointer;
    font-size: 15px;
}

#copyBtn i {
    transition:ease 0.3s;
}


button{
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.card{
    background: rgb(226, 221, 221);
    width: 300px;
    height: 120px;
    margin: 30px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    text-align: center;
}